<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}展想创合 邮箱绑定{% endblock %}</title>
    </head>
    <body>
        <div>
            <label>您正在申请绑定当前邮箱，如确认是本人行为，请提交以下验证码完成操作：{{code}}</label>
        </div>
    </body>
</html>
