<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}[EasyLinks邀请]{% endblock %}</title>
        <style>
            .line {
                margin-top: 30px;
            }
        </style>
    </head>
    <body>
        <!--begin email content -->
        <div>
        </div>
        <!--end email content -->
    </body>
</html>
