<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}[EasyLinks Forget Password]{% endblock %}</title>
    </head>
    <body>
        <div>
            <label>Password Reset Verification Code: {{code}}</label>
        </div>
    </body>
</html>
