<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}创合秒租{% endblock %}</title>
    </head>
    <body>
        <div>
            <label>您的“{{building}}”收到一位用户的办公室申请，请登录创合秒租管理平台查看。</label>
        </div>
    </body>
</html>
