<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}展想创合 用户注册{% endblock %}</title>
    </head>
    <body>
        <div>
            <label>欢迎注册展想创合！您的邮箱验证码为：{{code}}，请输入后进行验证，谢谢！</label>
        </div>
    </body>
</html>
