<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}创合秒租 用户支付密码{% endblock %}</title>
    </head>
    <body>
        <div>
            <label>您的验证码为：{{code}}。验证码在10分钟内有效，请勿向任何人泄露您的验证码。</label>
        </div>
    </body>
</html>
