imports:
    - { resource: parameters.yml }
    - { resource: security.yml }

framework:
    #esi:             ~
    translator:      { fallback: %locale% }
    secret:          %secret%
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: %kernel.debug%
    form:            ~
    csrf_protection: false
    validation:      { enable_annotations: true }
    templating:
        engines: ['twig']
        #assets_version: SomeVersionScheme
    default_locale:  "%locale%"
    trusted_proxies: ~
    session:         false
    fragments:       ~

# Twig Configuration
twig:
    debug:            %kernel.debug%
    strict_variables: %kernel.debug%
    exception_controller: 'FOS\RestBundle\Controller\ExceptionController::showAction'

    globals:
        sms_api_url: "%sms_api_url%"
        sms_api_key: "%sms_api_key%"
        email_from_address: "%email_from_address%"
        email_from_name: "%email_from_name%"
        pingpp_key: "%pingpp_key%"
        pingpp_app_id: "%pingpp_app_id%"
        wechat_app_id: "%wechat_app_id%"
        wechat_app_secret: "%wechat_app_secret%"
        wechat_public_platform_app_id: "%wechat_public_platform_app_id%"
        wechat_public_platform_secret: "%wechat_public_platform_secret%"
        wechat_website_app_id: "%wechat_website_app_id%"
        wechat_website_secret: "%wechat_website_secret%"
        server_order_id: "%server_order_id%"
        load_more_limit: "%load_more_limit%"
        nearby_range_km: "%nearby_range_km%"
        nearby_shop_range_km: "%nearby_shop_range_km%"
        expired_verification_time: "%expired_verification_time%"
        time_for_half_hour_early: "%time_for_half_hour_early%"
        time_for_preorder_cancel: "%time_for_preorder_cancel%"
        sandbox_auth_key: "%sandbox_auth_key%"
        food_api_url: "%food_api_url%"
        food_api_payment_callback: "%food_api_payment_callback%"
        crm_api_url: "%crm_api_url%"
        crm_api_client_user_account_authentication: "%crm_api_client_user_account_authentication%"
        crm_api_client_user_account_vip: "%crm_api_client_user_account_vip%"
        crm_api_admin_user_account_vip: "%crm_api_admin_user_account_vip%"
        crm_api_admin_user_account_cardno: "%crm_api_admin_user_account_cardno%"
        crm_api_client_own_account_balance: "%crm_api_client_own_account_balance%"
        crm_api_admin_user_balance_change: "%crm_api_admin_user_balance_change%"
        crm_api_admin_user_consume: "%crm_api_admin_user_consume%"
        crm_api_admin_user_account_upgrade: "%crm_api_admin_user_account_upgrade%"
        crm_api_admin_price_rule_include: "%crm_api_admin_price_rule_include%"
        crm_api_admin_price_rule_exclude: "%crm_api_admin_price_rule_exclude%"
        crm_api_admin_dashboard_balance: "%crm_api_admin_dashboard_balance%"
        crm_api_sales_admin_price_rule_include: "%crm_api_sales_admin_price_rule_include%"
        crm_api_sales_admin_price_rule_exclude: "%crm_api_sales_admin_price_rule_exclude%"
        crm_api_sales_admin_price_rule_info: "%crm_api_sales_admin_price_rule_info%"
        crm_api_sales_admin_invoices: "%crm_api_sales_admin_invoices%"
        crm_api_admin_user_create: "%crm_api_admin_user_create%"
        crm_api_client_user_price_calculate: "%crm_api_client_user_price_calculate%"
        door_api_username: "%door_api_username%"
        door_api_password: "%door_api_password%"
        door_api_login: "%door_api_login%"
        door_api_logout: "%door_api_logout%"
        door_api_get_doors: "%door_api_get_doors%"
        door_api_set_time: "%door_api_set_time%"
        door_api_get_card_record: "%door_api_get_card_record%"
        door_api_get_alarm_record: "%door_api_get_alarm_record%"
        door_api_set_card_permission: "%door_api_set_card_permission%"
        door_api_set_employee_card: "%door_api_set_employee_card%"
        door_api_set_room_order: "%door_api_set_room_order%"
        door_api_order_add_emp: "%door_api_order_add_emp%"
        door_api_order_delete_emp: "%door_api_order_delete_emp%"
        door_api_repeal_room_order: "%door_api_repeal_room_order%"
        door_api_get_last_sync_time: "%door_api_get_last_sync_time%"
        door_api_sync_time_range: "%door_api_sync_time_range%"
        door_api_session_id: "%door_api_session_id%"
        door_api_begin_time: "%door_api_begin_time%"
        door_api_end_time: "%door_api_end_time%"
        door_api_time_period: "%door_api_time_period%"
        door_api_card_permission: "%door_api_card_permission%"
        door_api_employee_card: "%door_api_employee_card%"
        door_api_room_order: "%door_api_room_order%"
        door_api_add_emp: "%door_api_add_emp%"
        door_api_delete_emp: "%door_api_delete_emp%"
        door_api_order_no: "%door_api_order_no%"
        customer_service_phone: "%customer_service_phone%"
        client_version_ios: "%client_version_ios%"
        client_version_android: "%client_version_android%"
        account_refund_fee_multiplier: "%account_refund_fee_multiplier%"
        alipay_refund_fee_multiplier: "%alipay_refund_fee_multiplier%"
        union_refund_fee_multiplier: "%union_refund_fee_multiplier%"
        wechat_refund_fee_multiplier: "%wechat_refund_fee_multiplier%"
        foreign_credit_refund_fee_multiplier: "%foreign_credit_refund_fee_multiplier%"
        rest_api_local_url: "%rest_api_local_url%"
        top_level_domain: "%top_level_domain%"
        jpush_apns_option: "%jpush_apns_option%"

# Assetic Configuration
assetic:
    debug:          %kernel.debug%
    use_controller: false
    bundles:        [ ]
    #java: /usr/bin/java
    filters:
        cssrewrite: ~
        #closure:
        #    jar: %kernel.root_dir%/Resources/java/compiler.jar
        #yui_css:
        #    jar: %kernel.root_dir%/Resources/java/yuicompressor-2.4.7.jar

# Doctrine Configuration
doctrine:
    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  UTF8
        schema_filter: ~.*[^View]$~
        mapping_types:
            enum: string
        options:
            1002: "SET NAMES 'utf8mb4' COLLATE 'utf8mb4_general_ci'"
        # if using pdo_sqlite as your database driver, add the path in parameters.yml
        # e.g. database_path: %kernel.root_dir%/data/data.db3
        # path:     %database_path%

    orm:
        auto_generate_proxy_classes: %kernel.debug%
        entity_managers:
            default:
                auto_mapping: true
                # enable metadata caching
#                metadata_cache_driver: redis
#                # enable query caching
#                query_cache_driver: redis
                dql:
                    datetime_functions:
                        date: DoctrineExtensions\Query\Mysql\Date
                        date_format: DoctrineExtensions\Query\Mysql\DateFormat
                        dateadd: DoctrineExtensions\Query\Mysql\DateAdd
                        datediff: DoctrineExtensions\Query\Mysql\DateDiff
                        day: DoctrineExtensions\Query\Mysql\Day
                        dayname: DoctrineExtensions\Query\Mysql\DayName
                        last_day: DoctrineExtensions\Query\Mysql\LastDay
                        minute: DoctrineExtensions\Query\Mysql\Minute
                        second: DoctrineExtensions\Query\Mysql\Second
                        strtodate: DoctrineExtensions\Query\Mysql\StrToDate
                        time: DoctrineExtensions\Query\Mysql\Time
                        timestampadd: DoctrineExtensions\Query\Mysql\TimestampAdd
                        timestampdiff: DoctrineExtensions\Query\Mysql\TimestampDiff
                        week: DoctrineExtensions\Query\Mysql\Week
                        weekday: DoctrineExtensions\Query\Mysql\WeekDay
                        year: DoctrineExtensions\Query\Mysql\Year

                    numeric_functions:
                        acos: DoctrineExtensions\Query\Mysql\Acos
                        asin: DoctrineExtensions\Query\Mysql\Asin
                        atan2: DoctrineExtensions\Query\Mysql\Atan2
                        atan: DoctrineExtensions\Query\Mysql\Atan
                        cos: DoctrineExtensions\Query\Mysql\Cos
                        cot: DoctrineExtensions\Query\Mysql\Cot
                        hour: DoctrineExtensions\Query\Mysql\Hour
                        pi: DoctrineExtensions\Query\Mysql\Pi
                        power: DoctrineExtensions\Query\Mysql\Power
                        quarter: DoctrineExtensions\Query\Mysql\Quarter
                        rand: DoctrineExtensions\Query\Mysql\Rand
                        round: DoctrineExtensions\Query\Mysql\Round
                        sin: DoctrineExtensions\Query\Mysql\Sin
                        std: DoctrineExtensions\Query\Mysql\Std
                        tan: DoctrineExtensions\Query\Mysql\Tan

                    string_functions:
                        binary: DoctrineExtensions\Query\Mysql\Binary
                        char_length: DoctrineExtensions\Query\Mysql\CharLength
                        concat_ws: DoctrineExtensions\Query\Mysql\ConcatWs
                        countif: DoctrineExtensions\Query\Mysql\CountIf
                        crc32: DoctrineExtensions\Query\Mysql\Crc32
                        degrees: DoctrineExtensions\Query\Mysql\Degrees
                        field: DoctrineExtensions\Query\Mysql\Field
                        find_in_set: DoctrineExtensions\Query\Mysql\FindInSet
                        group_concat: DoctrineExtensions\Query\Mysql\GroupConcat
                        ifelse: DoctrineExtensions\Query\Mysql\IfElse
                        ifnull: DoctrineExtensions\Query\Mysql\IfNull
                        match_against: DoctrineExtensions\Query\Mysql\MatchAgainst
                        md5: DoctrineExtensions\Query\Mysql\Md5
                        month: DoctrineExtensions\Query\Mysql\Month
                        monthname: DoctrineExtensions\Query\Mysql\MonthName
                        nullif: DoctrineExtensions\Query\Mysql\NullIf
                        radians: DoctrineExtensions\Query\Mysql\Radians
                        regexp: DoctrineExtensions\Query\Mysql\Regexp
                        replace: DoctrineExtensions\Query\Mysql\Replace
                        sha1: DoctrineExtensions\Query\Mysql\Sha1
                        sha2: DoctrineExtensions\Query\Mysql\Sha2
                        soundex: DoctrineExtensions\Query\Mysql\Soundex
                        uuid_short: DoctrineExtensions\Query\Mysql\UuidShort
                        
services:
    app.locale_listener:
        class:        Sandbox\ApiBundle\EventListener\LocaleListener
        arguments: ["%kernel.default_locale%"]
        tags:
            - { name: kernel.event_subscriber }

sensio_framework_extra:
    view: { annotations: false }

nelmio_cors:
    defaults:
        allow_credentials: true
        allow_origin: []
        allow_headers: []
        allow_methods: []
        expose_headers: []
        max_age: 0
        hosts: []
    paths:
        '^/':
            allow_origin: ['*']
            allow_headers: ['X-Requested-With', 'Content-Type', 'authorization', 'sandboxadminauthorization', 'sandboxclientauthorization', 'Access-Control-Request-Headers']
            allow_methods: ['POST', 'PUT', 'GET', 'DELETE', 'OPTIONS', 'PATCH']
            max_age: 3600

fos_rest:
    disable_csrf_role: ROLE_API
    param_fetcher_listener: true
    routing_loader:
        default_format:       ~
        include_format:       false
    view:
        mime_types:
            json: ['application/json; charset=utf-8', 'application/json', 'application/json;version=1.0', 'application/json;version=1.1', 'application/xml', 'application/x-www-form-urlencoded']
        view_response_listener: 'force'
        formats:
            xml:  true
            json: true
        templating_formats:
            html: true
    format_listener:
        rules:
            - { path: ^/, priorities: [ json, xml ], fallback_format: ~, prefer_extension: false }
            - { path: '^/duiba', priorities: [ 'text/html', '*/*'], fallback_format: json, prefer_extension: false }
            - { path: '^/door', priorities: [ 'text/html', '*/*'], fallback_format: json, prefer_extension: false }
        media_type:
            version_regex: '/(v|version)=(?P<version>[0-9\.]+)/'
    exception:
        codes:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': 404
            'Doctrine\ORM\OptimisticLockException': HTTP_CONFLICT
        messages:
            'Symfony\Component\Routing\Exception\ResourceNotFoundException': true
    allowed_methods_listener: true
    access_denied_listener:
        json: true
    body_listener: true

swiftmailer:
    transport: 'smtp'
    host:      'smtp.mxhichina.com'
    username:  'notification@sandbox3.cn'
    password:  'Sandhill2290'

knp_paginator:
    page_range: 5                      # default page range used in pagination control
    default_options:
        page_name: page                # page query parameter name
        sort_field_name: sort          # sort field query parameter name
        sort_direction_name: direction # sort direction query parameter name
        distinct: true                 # ensure distinct results, useful when ORM queries are using GROUP BY statements

doctrine_migrations:
    dir_name: %kernel.root_dir%/DoctrineMigrations
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

#fos_elastica:
#    clients:
#        default: { host: localhost, port: 9200 }
#    serializer:
#        callback_class: FOS\ElasticaBundle\Serializer\Callback
#        serializer: serializer
#    indexes:
#        search:
#            index_name: app_%kernel.environment%
#            client: default
#            types:
#                member:
#                    mappings:
#                        name: ~
#                    persistence:
#                        driver: orm
#                        model: Sandbox\ApiBundle\Entity\User\UserProfile
#                        provider: ~
#                        listener: ~
#                        finder: ~
#                company:
#                    mappings:
#                        name: ~
#                    persistence:
#                        driver: orm
#                        model: Sandbox\ApiBundle\Entity\Company\Company
#                        provider: ~
#                        listener: ~
#                        finder: ~
#                room:
#                    mappings:
#                        name: ~
#                        number: ~
#                    persistence:
#                        driver: orm
#                        model: Sandbox\ApiBundle\Entity\Room\Room
#                        provider: ~
#                        listener: ~
#                        finder: ~
#                user:
#                    mappings:
#                        email: ~
#                        phone: ~
#                    persistence:
#                        driver: orm
#                        model: Sandbox\ApiBundle\Entity\User\User
#                        provider: ~
#                        listener: ~
#                        finder: ~

#stof doctrine-extionsion config
stof_doctrine_extensions:
    default_locale: en_CN
    orm:
        default:
            tree: true
            timestampable: true # not needed: listeners are not enabled by default
            blameable: true
            uploadable: true

knp_snappy:
    pdf:
        enabled:    true
        binary:     /usr/bin/wkhtmltopdf
        options:    []

#snc_redis:
#    # configure predis as client
#    clients:
#        default:
#            type: predis
#            alias: default
#            dsn: redis://139.224.210.135
#        doctrine:
#            type: predis
#            alias: doctrine
#            dsn: redis://139.224.210.135
#    # configure doctrine caching
#    doctrine:
#        metadata_cache:
#            client: doctrine
#            entity_manager: default
#            document_manager: default
#        result_cache:
#            client: doctrine
#            entity_manager: [default]
#        query_cache:
#            client: doctrine
#            entity_manager: default
