parameters:
    database_driver: pdo_mysql
    database_host: sandbox_db
    database_port: '3306'
    database_name: sandbox_rest_db
    database_user: sandbox
    database_password: sandbox

    database_host_slave1:     192.168.0.12
    database_port_slave1:     3306
    database_name_slave1:     sandbox_rest_db
    database_user_slave1:     root
    database_password_slave1: root

    #database_host_slave2:     192.168.0.13
    #database_port_slave2:     3306
    #database_name_slave2:     sandbox_rest_db
    #database_user_slave2:     root
    #database_password_slave2: root

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: ae4f49befc969ff5feada55bcc88e3c0
    database_path: null
    pingpp_key: sk_test_yHufjLubPOePTW54y5iDeHa5
    pingpp_app_id: app_X5OW105ezz940W14
    wechat_app_id: wx5f5a4878763f5515
    wechat_app_secret: 2f576c27bef3d5a83ac78a273712abe7
    wechat_public_platform_app_id: wxd0bc8ff918c8e593
    wechat_public_platform_secret: be4ed95443a324b27d19e313ad7dd2e0
    wechat_website_app_id: wx3ada402af6480db0
    wechat_website_secret: cb013671b7d43e92ea7df28848053e70
    server_order_id: s
    load_more_limit: 20
    nearby_range_km: 100
    nearby_shop_range_km: 0.2
    expired_verification_time: +10 minutes
    time_for_half_hour_early: -30 minutes
    time_for_preorder_cancel: + 1 day
    xmpp_domain: devxmpp.sandbox3.cn
    openfire_innet_url: http://127.0.0.1:9090
    openfire_plugin_bstuser: /plugins/bstuser
    openfire_plugin_bstuser_users: /users
    openfire_plugin_bstuser_property_name_ezuser: ezuser
    openfire_plugin_bstuser_property_secret_ezuser: DB93819516EA9C8E73C0374595ED0F19
    openfire_plugin_sandbox: /plugins/sandbox
    openfire_plugin_sandbox_notification: /notification
    openfire_plugin_sandbox_notification_broadcast: /broadcast
    openfire_plugin_bstgroupchat: /plugins/bstgroupchat
    openfire_plugin_bstgroupchat_room: /rooms
    openfire_plugin_bstgroupchat_room_member: /members
    openfire_plugin_bstios: /plugins/bstios
    openfire_plugin_bstios_chatconfig: /chatconfig
    openfire_plugin_bstios_apns: /apns
    openfire_plugin_file_server: /plugins/fileServer/fileservice
    sms_api_url: http://yunpian.com/v1/sms/send.json
    sms_api_key: 21c29536f85636a862306aa6f8ffdf74
    email_from_address: notification@sandbox3.cn
    email_from_name: 展想创合
    sandbox_auth_key: sandbox_auth_test
    food_api_url: http://testfood.sandbox3.cn
    food_api_payment_callback: /index.php?route=payment/sandbox_wechat/callback
    crm_api_url: http://devcrm.sandbox3.cn
    crm_api_client_user_account_authentication: /client/user/account/authentication
    crm_api_client_user_account_vip: /client/user/account/vip
    crm_api_admin_user_account_vip: /admin/useraccounts/{userId}/vip
    crm_api_admin_user_account_cardno: /admin/useraccounts/{userId}/cardno
    crm_api_client_own_account_balance: /client/user/account/balance
    crm_api_admin_user_balance_change: /admin/useraccounts/{userId}/balance/change
    crm_api_admin_user_consume: /admin/useraccounts/{userId}/consume
    crm_api_admin_user_account_upgrade: /admin/useraccounts/{userId}/upgrade
    crm_api_admin_price_rule_include: /admin/price/rule/include/{buildingId}/{roomNo}
    crm_api_admin_price_rule_exclude: /admin/price/rule/exclude/{buildingId}/{roomNo}
    crm_api_sales_admin_price_rule_include: /sales/admin/price/rule/include/{buildingId}/{roomNo}
    crm_api_sales_admin_price_rule_exclude: /sales/admin/price/rule/exclude/{buildingId}/{roomNo}
    crm_api_sales_admin_price_rule_info: /sales/admin/price/rules/{rule_id}
    crm_api_sales_admin_invoices: /sales/admin/invoices
    crm_api_admin_user_create: /admin/useraccounts/{userId}/create
    crm_api_client_user_price_calculate: /client/user/price/rules/{rule_id}/calculate
    door_api_username: admin
    door_api_password: admin
    door_api_login: /Login
    door_api_logout: /Logout
    door_api_get_doors: /GetDoors
    door_api_set_time: /SetTimePeriod
    door_api_get_card_record: /GetSwipeCardRecord
    door_api_get_alarm_record: /GetAlarmRecord
    door_api_set_card_permission: /SetCardPermission
    door_api_set_employee_card: /SetEmployeeCard
    door_api_set_room_order: /SetRoomOrder
    door_api_order_add_emp: /SetRoomOrder_AddEmp
    door_api_order_delete_emp: /SetRoomOrder_DeleteEmp
    door_api_repeal_room_order: /RepealRoomOrder
    door_api_get_last_sync_time: /GetLastSyncRoomOrderTime
    door_api_sync_time_range: 10
    door_api_session_id: SessionId=
    door_api_begin_time: BeginTime=
    door_api_end_time: EndTime=
    door_api_time_period: TimePeriod=
    door_api_card_permission: CardPermission=
    door_api_employee_card: EmployeeCard=
    door_api_room_order: RoomOrder=
    door_api_add_emp: RoomOrderAddEmp=
    door_api_delete_emp: RoomOrderDelEmp=
    door_api_order_no: OrderNo=
    customer_service_phone: xxx-xxx
    client_version_ios: 2.0.5
    client_version_android: 2.0.5
    account_refund_fee_multiplier: 0
    alipay_refund_fee_multiplier: 0.0055
    union_refund_fee_multiplier: 0
    wechat_refund_fee_multiplier: 0
    foreign_credit_refund_fee_multiplier: 0
    rest_api_local_url: localhost.api.rest
    image_url: http://devimage.sandbox3.cn
    file_server_url: http://devxmpp.sandbox3.cn/plugins/fileServer/fileservice
    rest_file_server_url: http://devrest.sandbox3.cn/plugins/fileServer/fileservice
    mobile_url: http://devm.sandbox3.cn
    room_mobile_url: http://devmobile.sandbox3.cn
    top_level_domain: sandbox3.cn
    jpush_apns_option: false
    orders_url: http://devorders.sandbox3.cn
