parameters:
    database_driver: pdo_mysql
    database_host: rdsuz7cpk5r23ytx02t0.mysql.rds.aliyuncs.com
    database_port: '3306'

    # production data
    database_name: staging_rest_api_db_pro

    # staging data
    #database_name: staging_rest_api_db

    database_user: staging_rest
    database_password: S3deb0x_2016
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    locale: en
    secret: ae4f49befc969ff5feada55bcc88e3c0
    database_path: null
    pingpp_key: sk_test_yHufjLubPOePTW54y5iDeHa5
    pingpp_app_id: app_aTKWTK1G0aLO4azn
    wechat_app_id: wx5f5a4878763f5515
    wechat_app_secret: 2f576c27bef3d5a83ac78a273712abe7
    wechat_public_platform_app_id: wxd0bc8ff918c8e593
    wechat_public_platform_secret: be4ed95443a324b27d19e313ad7dd2e0
    wechat_website_app_id: wx3ada402af6480db0
    wechat_website_secret: cb013671b7d43e92ea7df28848053e70
    server_order_id: s
    load_more_limit: 20
    nearby_range_km: 10000
    nearby_shop_range_km: 10000
    expired_verification_time: +10 minutes
    time_for_half_hour_early: -30 minutes
    time_for_preorder_cancel: + 1 day

    sms_api_url: http://yunpian.com/v1/sms/send.json
    sms_api_key: 21c29536f85636a862306aa6f8ffdf74
    sms_v2_api_url: https://sms.yunpian.com/v2/sms/batch_send.json
    sms_marketing_api_key: c9332ec598c7dda0bbe42a7e799c0c8a

    email_from_address: notification@sandbox3.cn
    email_from_name: 展想创合
    sandbox_auth_key: sandbox_auth_test
    food_api_url: http://testfood.sandbox3.cn
    food_api_payment_callback: /index.php?route=payment/sandbox_wechat/callback

    crm_api_url: crmserver
    crm_api_client_user_account_authentication: /client/user/account/authentication
    crm_api_client_user_account_vip: /client/user/account/vip
    crm_api_admin_user_account_vip: /admin/useraccounts/{userId}/vip
    crm_api_admin_user_account_cardno: /admin/useraccounts/{userId}/cardno
    crm_api_client_own_account_balance: /client/user/account/balance
    crm_api_admin_user_balance_change: /admin/useraccounts/{userId}/balance/change
    crm_api_admin_user_consume: /admin/useraccounts/{userId}/consume
    crm_api_admin_user_account_upgrade: /admin/useraccounts/{userId}/upgrade
    crm_api_admin_price_rule_include: /admin/price/rule/include/{buildingId}/{roomNo}
    crm_api_admin_price_rule_exclude: /admin/price/rule/exclude/{buildingId}/{roomNo}
    crm_api_admin_dashboard_balance: /admin/dashboard/balance
    crm_api_sales_admin_price_rule_include: /sales/admin/price/rule/include/{buildingId}/{roomNo}
    crm_api_sales_admin_price_rule_exclude: /sales/admin/price/rule/exclude/{buildingId}/{roomNo}
    crm_api_sales_admin_price_rule_info: /sales/admin/price/rules/{rule_id}
    crm_api_sales_admin_invoices: /sales/admin/invoices
    crm_api_admin_user_create: /admin/useraccounts/{userId}/create
    crm_api_client_user_price_calculate: /client/user/price/rules/{rule_id}/calculate

    door_api_username: admin
    door_api_password: admin
    door_api_login: /Login
    door_api_logout: /Logout
    door_api_get_doors: /GetDoors
    door_api_set_time: /SetTimePeriod
    door_api_get_card_record: /GetSwipeCardRecord
    door_api_get_alarm_record: /GetAlarmRecord
    door_api_set_card_permission: /SetCardPermission
    door_api_set_employee_card: /SetEmployeeCard
    door_api_set_room_order: /SetRoomOrder
    door_api_order_add_emp: /SetRoomOrder_AddEmp
    door_api_order_delete_emp: /SetRoomOrder_DeleteEmp
    door_api_repeal_room_order: /RepealRoomOrder
    door_api_get_last_sync_time: /GetLastSyncRoomOrderTime
    door_api_sync_time_range: 10
    door_api_session_id: SessionId=
    door_api_begin_time: BeginTime=
    door_api_end_time: EndTime=
    door_api_time_period: TimePeriod=
    door_api_card_permission: CardPermission=
    door_api_employee_card: EmployeeCard=
    door_api_room_order: RoomOrder=
    door_api_add_emp: RoomOrderAddEmp=
    door_api_delete_emp: RoomOrderDelEmp=
    door_api_order_no: OrderNo=

    jpush_apns_option: false
    customer_service_phone: xxx-xxx
    client_version_ios: 2.0.5
    client_version_android: 2.0.5
    account_refund_fee_multiplier: 0
    alipay_refund_fee_multiplier: 0.0055
    union_refund_fee_multiplier: 0
    wechat_refund_fee_multiplier: 0
    foreign_credit_refund_fee_multiplier: 0
    rest_api_local_url: restserver

    image_url: https://testimage.sandbox3.cn
    rest_file_server_url: https://testrest.sandbox3.cn/plugins/fileServer/fileservice
    mobile_url: https://testm.sandbox3.cn
    room_mobile_url: https://testmobile.sandbox3.cn
    top_level_domain: sandbox3.cn
    orders_url: https://testorders.sandbox3.cn
    coffee_url: https://testcoffee.sandbox3.cn
    invoice_url: https://testinvoice.sandbox3.cn

    duiba_app_key: XUPB5iAdCbHnc6C8fcmpB8fcxLu
    duiba_app_secret: 3ynCsWqXzcErULFvSEojLH94pnxb
    duiba_app_env: sta

    jpush_key: 053c3281736d2c34b51e58be
    jpush_secret: 7772afddf154443ab12fa13d

    oss_access_key_id: LTAIWj72yqRsw2GW
    oss_access_key_secret: aeL8mj8epd6vWFpneS7VlAnrQ0kgRx
    oss_endpoint: oss-cn-shanghai-internal.aliyuncs.com
    oss_bucket: sandbox3-staging-image